{% extends "::base_admin.html.twig" %}

{% trans_default_domain "NitraAuthBundle" %}

{% block title %}
    {{ parent() }} - {{ 'settings.title'|trans }}
{% endblock title %}

{% block body %}
    {% block page_title %}
        <header>
            <h1>{{ 'settings.title'|trans }}</h1>
        </header>
    {% endblock page_title %}
    <div class="row-fluid">
        {% block form %}
            {{ form_start(form) }}
                <fieldset class="form_block form_fieldset_NONE">
                    {% for child in form %}
                        {% if loop.index < 5 %}
                            {{ form_row(child) }}
                        {% endif %}
                    {% endfor %}
                </fieldset>
                <div id="edit-actions" class="actions form-actions">
                    {{ form_widget(form.submit) }}
                </div>
            {{ form_end(form) }}
        {% endblock form %}
    </div>
{% endblock body %}